<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <title>메가박스</title>

    <!-- 파비콘 -->
    <link rel="shortcut icon" href="assets/icons/favicon.ico">
	<style>
		header {background-color: lightgray;}
	</style>
</head>

<body>
    <header id="header">
        <div class="container">
            <div id="mNav">
                <h2 class="ir_so">메가박스 상단메뉴 상단</h2>
                <a href="#" class="ham"><span></span></a>
            </div>
			<div style="float:left">
				<li>
					<a href="#">VIP LOUNGE</a> <a href="#">멤버십</a> <a href="#">고객센터</a>
				</li>
				<li>
					<a href="#"> <img id="totalmenu" src="image/ico-sitemap-white.png">(전체메뉴)</a>
					<a href="#"><img id="serachButton" src="image/ico-footer-search.png"></a>
					<a href="#"><img id="closeButton" src="image/ico-layer-close-g.png"></a>
					<a href="#">영화</a>
					<a href="#">예매</a>
					<a href="#">극장</a>
				</li>
			</div>
			<div style="float:right">
				<li>
					<a href="#">로그인</a> <a href="#">회원가입</a> <a href="#">빠른예매</a>
				</li>
			</div>
			<div style="float:right">
				<li>
					<a href="#">이벤트</a>
					<a href="#">스토어</a>
					<a href="#">혜택</a>
					<a href="#">상영시간표<img id="timetable" src="image/ico-schedule-white.png"></a>
					<a href="#">나의 메가박스<img id="mymegabox" src="image/ico-mymega-white.png"></a>
				</li>
			</div>
			<h1>
				<a href="#">
					<div style="text-align : center;">
					<img src="image/logo-white_new2.png" alt="MEGABOXlogo">
					</div>
				</a>
			</h1>
        </div>
		<br>
    </header>
    <!-- //header -->
<br>
   <section id="movie">
        <div class="container">
           <div class="row">
               <div class="movie">
                    <h2 class="ir_so">영화 예매</h2>
                    <div class="movie_title">
                       <ul>
                           <li class="line"><a href="#">박스오피스</a></li>
                           <li><a href="#">더 많은 영화보기</a</li>
                           <img id="moremoive" src="image/ico-more-cross-gray.png">
                           <li><a href="#">영화명을 입력해 주세요<img id="serachmoive" src="image/ico-footer-search.png"></a></li>
                           <li><a href="#"><img id="timetable" src="image/ico-schedule-main.png">상영시간표</a></li>
                           <li><a href="#"><img id="boxoffice" src="image/ico-boxoffice-main.png">박스오피스</a></li>
                           <li><a href="#"><img id="quickreserve" src="image/ico-quick-reserve-main.png">빠른예매</a></li>
                           <li><a href="#"><img id="mousescroll" src="image/ico-mouse.png"></a></li>
                       </ul>
                   </div>
                   <!-- //movie_title -->
				   <div class="search-link">
					   <div class="cell">
						   <div class="search">
							   input type="text" placeholder="영화명을 입력해 주세요" title="영화 검색" class="input-text" id="movieName"
							   <button type="button" class="btn" id="btnSearch">
								   <i class="iconset ico-search-w"></i>
								   "검색"
							   </button>
						   </div>
					   </div>
				   </div>

                   <div class="movie_chart">
                    <!-- 박스오피스시작 -->
					   <div class="poster">
						   <figure>
							   <img src="image/4ldgBlaXmeH3Lv6B46fJSGf7eidwYtij_420.jpg" alt="나일 강의 죽음">
						   </figure>
						   <div class="rank"><strong>1</strong></div>
						   <figure>
							   <img src="image/mov_top_tag_db.png" alt="mov_top_tag_db">
							   <img src="image/mov_top_tag_mx.png" alt="mov_top_tag_mx">
						   </figure>
					   </div>
					   <div class="info">
						   <div class="info_btn">
							   <a href="#">상세보기</a>
							   <a href="#">예매</a>
						   </div>
					   </div>

					   <div class="poster">
						   <figure>
							   <img src="image/Hfo5xEAlOj5YKDHIr4waqxnMykg7a0mL_420.jpg" alt="나의촛불">
						   </figure>
						   <div class="rank"><strong>2</strong></div>
					   </div>
					   <div class="info">
						   <div class="info_btn">
							   <a href="#">상세보기</a>
							   <a href="#">예매</a>
						   </div>
					   </div>

					   <div class="poster">
						   <figure>
							   <img src="image/tL6nr7VOdk0Rg0zH1d8UeJVl8jBUNK8D_420.jpg" alt="355">
						   </figure>
						   <div class="rank"><strong>3</strong></div>
					   </div>
					   <div class="info">
						   <div class="info_btn">
							   <a href="#">상세보기</a>
							   <a href="#">예매</a>
						   </div>
					   </div>

					   <div class="swiper-slide">
						   <figure>
							   <img src="image/uJxOX2EzEKrKHvATN48a8O1YwH3bSZou_420.jpg" alt="만년이 지나도 변하지 않는게 있어">
						   </figure>
						   <div class="rank"><strong>4</strong></div>
					   <div class="info">
						   <div class="info_btn">
							   <a href="#">상세보기</a>
							   <a href="#">예매</a>
						   </div>
					   </div>


                   </div>
                   <!-- //.movie chart -->

               </div>
               <!-- //.movie -->
           </div>
           <!-- //.row -->
       </div>
       <!-- //.container -->
   </section>
   <!-- //movie -->


			<!-- section main-benefit : 혜택 -->
			<div id="main_section02" class="section main-benefit">

					<!-- 혜택 시작 -->
				<h2 class="tit">혜택</h2>
					<div class="slider main-condition">
							<div class="slider-view" style="width: 1100px;">
								<div class="cell" style="display: block; position: absolute; float: none;">
									<div class="position">
										<div class="txt" style="top: 100px; opacity: 0;"><a href="https://megabox.co.kr/event/detail?eventNo=10955" target="_self" title=""><img src="https://img.megabox.co.kr/SharedImg/BnftMng/2022/02/07/ACIMTa9EQ7S102natvfySMooYS2kUsqG.jpg" alt="" onerror="noImg(this, 'main');"></a></div>
										<div class="bg" style="left: 450px; opacity: 0;"><a href="https://megabox.co.kr/event/detail?eventNo=10955" target="_self" title=""><img src="https://img.megabox.co.kr/SharedImg/BnftMng/2022/02/07/srTYm5jGSk0U3xopKDwLyrssNWId2Bva.jpg" alt="" onerror="noImg(this, 'main');"></a></div>
									</div>
								</div>
								<div class="cell" style="display: none; position: absolute; float: none;">
									<div class="position">
										<div class="txt" style="top: 100px; opacity: 0;"><a href="https://www.megabox.co.kr/event/detail?eventNo=10908" target="_self" title=""><img src="https://img.megabox.co.kr/SharedImg/BnftMng/2022/01/24/ncL9hBPiraVf3C7SigHrgKMR2HnwU6Tf.jpg" alt="" onerror="noImg(this, 'main');"></a></div>
										<div class="bg" style="left: 450px; opacity: 0;"><a href="https://www.megabox.co.kr/event/detail?eventNo=10908" target="_self" title=""><img src="https://img.megabox.co.kr/SharedImg/BnftMng/2022/01/24/9NVdHBTNqgZGgFju9bILd66i9jhFPPLh.jpg" alt="" onerror="noImg(this, 'main');"></a></div>
									</div>
								</div>
								<div class="cell" style="display: none; position: absolute; float: none;">
									<div class="position">
										<div class="txt" style="top: 100px; opacity: 0;"><a href="https://megabox.co.kr/event/detail?eventNo=10749" target="_self" title=""><img src="https://img.megabox.co.kr/SharedImg/BnftMng/2021/12/08/M8b7uodSPL2wSvyquWyJoZiZIF32Ey7A.jpg" alt="" onerror="noImg(this, 'main');"></a></div>
										<div class="bg" style="left: 450px; opacity: 0;"><a href="https://megabox.co.kr/event/detail?eventNo=10749" target="_self" title=""><img src="https://img.megabox.co.kr/SharedImg/BnftMng/2021/12/08/cBC78EGofC6INW806uVQMdZzElGl3VD2.jpg" alt="" onerror="noImg(this, 'main');"></a></div>
									</div>
								</div>
								<div class="cell" style="display: none; position: absolute; float: none;">
									<div class="position">
										<div class="txt" style="top: 100px; opacity: 0;"><a href="https://www.megabox.co.kr/event/detail?eventNo=10950" target="_self" title=""><img src="https://img.megabox.co.kr/SharedImg/BnftMng/2022/02/07/fkilRoZS4FZCagxm7o7bjXIXXOuPZqvA.jpg" alt="" onerror="noImg(this, 'main');"></a></div>
										<div class="bg" style="left: 450px; opacity: 0;"><a href="https://www.megabox.co.kr/event/detail?eventNo=10950" target="_self" title=""><img src="https://img.megabox.co.kr/SharedImg/BnftMng/2022/02/07/fNU8cQN04I6Pq69vPMryNEIPeoc7xeo5.jpg" alt="" onerror="noImg(this, 'main');"></a></div>
									</div>
								</div>
								<div class="cell" style="display: none; position: absolute; float: none;">
									<div class="position">
										<div class="txt" style="top: 100px; opacity: 0;"><a href="https://www.megabox.co.kr/event/detail?eventNo=10868" target="_self" title=""><img src="https://img.megabox.co.kr/SharedImg/BnftMng/2022/01/14/mmitS7eSkiQVzZL1paP0NxK5m6j3uVKT.jpg" alt="" onerror="noImg(this, 'main');"></a></div>
										<div class="bg" style="left: 450px; opacity: 0;"><a href="https://www.megabox.co.kr/event/detail?eventNo=10868" target="_self" title=""><img src="https://img.megabox.co.kr/SharedImg/BnftMng/2022/01/14/yDRjd4ejz8oirC4wLrukvHK3KIWH1tCY.jpg" alt="" onerror="noImg(this, 'main');"></a></div>
									</div>
								</div>
								<div class="cell" style="display: none; position: absolute; float: none;">
									<div class="position">
										<div class="txt" style="top: 100px; opacity: 0;"><a href="https://www.megabox.co.kr/event/detail?eventNo=9187" target="_self" title=""><img src="https://img.megabox.co.kr/SharedImg/BnftMng/2021/02/01/f7RPSplY1eWEFFhKNBDJK4JIXKv9NBZK.jpg" alt="" onerror="noImg(this, 'main');"></a></div>
										<div class="bg" style="left: 450px; opacity: 0;"><a href="https://www.megabox.co.kr/event/detail?eventNo=9187" target="_self" title=""><img src="https://img.megabox.co.kr/SharedImg/BnftMng/2021/02/01/fZ8glF2ggujTRrF5vtRuE1iE2UjjV1oF.jpg" alt="" onerror="noImg(this, 'main');"></a></div>
									</div>
								</div>
								</div>
							<div class="slider-control">

								<div class="page"><span class="on" style="width:16.666666666666664%"></span><span class="" style="width:16.666666666666664%"></span><span class="" style="width:16.666666666666664%"></span><span class="" style="width:16.666666666666664%"></span><span class="" style="width:16.666666666666664%"></span><span class="" style="width:16.666666666666664%"></span></div>

								<div class="util">
									<button type="button" class="btn-prev" style="opacity: 0.5;" disabled="true">이전 이벤트 보기</button>
									<button type="button" class="btn-next" style="opacity: 1;">다음 이벤트 보기</button>

									<button type="button" class="btn-pause on">일시정지</button>
									<button type="button" class="btn-play">자동재생</button>
								</div>

								<div class="page-count">1 / 6</div>

							</div>
						</div>

					<div class="brn-ad">
							<div class="banner">
								<div class="size">
											<a href="#" data-no="10811" data-netfunnel="N" class="eventBtn" title="">
												<img src="https://img.megabox.co.kr/SharedImg/event/2021/12/30/t27cRA3hbn6TMmTm0c7OUaQ37TuxGLOh.jpg" alt="우측하단1">
												</a>
								</div>
								<div class="size small">
											<a href="#" data-no="10811" data-netfunnel="N" class="eventBtn" title="">
												<img src="https://img.megabox.co.kr/SharedImg/event/2021/12/30/r5HfuUkYR7L9ww5F8n9n0oAbdlM8rtjr.jpg" alt="우측하단2">
												</a>
								</div>
							</div>
							<div class="ad-img">
								<img src="../../../image/438cd9e7f4c9f82667bc787e14e37bf0.jpg" alt="우측광고">
							</div>
						</div>
					<!-- 혜택 종료 -->

			</div>
			<!--// section main-benefit : 혜택 -->

			<!-- section main-curation : 큐레이션 -->
        <<div id="main_section03" class="section main-curation">>

                    <h2>큐레이션</h2>
                    <div class="new_left">
					<img src="../../../image/rH0ktL4oe1AZJgg4sRsLmI6Bp9uBT5Qe_230.jpg" alt="어나더라운드">
                    </div>
                    <div class="new_right">
                        <h3 class="title">어나더 라운드<span class="icon1"></span></h3>
                        <span class="release">2022.01.19</span>
                        <ul class="summary">
                            <li class="genre"><span class="bar">장르: 드라마, 코미디 </span><span> 제작국가: 미국</span></li>
                            <li class="age"><span class="bar">상영시간: 116 분</span><span> 연령: 15세 이상 관람가</span></li>
                            <li class="desc">
                            각각 역사, 체육, 음악, 심리학을 가르치는 같은 고등학교 교사 니콜라이, 마르틴, 페테르, 톰뮈는 의욕 없는 학생들을 상대하며 열정마저 사라지고 매일이 우울하기만 하다. 니콜라이의 40번째 생일 축하 자리에서 “인간에게 결핍된 혈중 알코올 농도 0.05%를 유지하면 적당히 창의적이고 활발해진다”는 흥미로운 가설에 대한 이야기를 나누고, 마르틴이 실험에 들어간다. 인기 없던 수업에 웃음이 넘치고 가족들과의 관계에도 활기가 생긴 마르틴의 후일담에 친구들 모두 동참하면서 두 가지 조건을 정한다.
                            </li>
                        </ul>
                            <div class="btn">
                                <a href="#" class="white">상세정보</a>
                                <a href="#" class="purple">예매</a>
                            </div>
                    </div>
        </div>
			<!--// section main-curation : 큐레이션 -->

			<!-- section main-info : 메가박스 안내 -->
			<div id="main_section04" class="section main-info">

				<h2>메가박스 안내</h2>
				<img src="../../../image/bg-main-megainfo-dolby.png" alt=Dolby>
				<img src="../../../image/bg-main-megainfo-private.png" alt=private>
				<img src="../../../image/bg-main-megainfo-boutique.png" alt=boutique>
				<img src="../../../image/bg-main-megainfo-mx.png." alt=mx>
				<img src="../../../image/bg-main-megainfo-kids.png" alt=kids>

				<!-- info-notice -->
							<p class="tit">메가박스</p>
							<p class="link"><strong>[이벤트]</strong> [당첨자공지] 내통장결제 관람권 프로모션</p>
							<p class="date">2022.02.07</p>
							<p class="more"> 더보기</p>
				<!--// info-notice -->

			</div>
			<!--// section main-info : 메가박스 안내 -->

			<!-- main-bottom-ad : 메인 하단 광고 영역 -->
				<img src="../../../image/f04771c91b2dbc8d38371707378d4554.jpg" alt="하단배너광고">
			<!--// main-bottom-ad : 메인 하단 광고 영역 -->

<!-- footer -->
<footer id="footer">
    <!-- footer-top -->
    <div class="footer-top">
            <ul class="fnb">
                <li><title="회사소개 페이지">회사소개</li>
                <li><title="인재채용 페이지">인재채용</li>
                <li><title="사회공헌 페이지">사회공헌</li>
                <li><title="제휴/광고/부대사업문의 페이지">제휴/광고/부대사업문의</li>
                <li><title="이용약관 페이지">이용약관</li>
                <li><title="위치기반서비스 이용약관 페이지">위치기반서비스 이용약관</li>
                <li><title="개인정보처리방침 페이지">개인정보처리방침</li>
                <li><title="윤리경영 페이지">윤리경영</li>
            </ul>
    </div>
    <!--// footer-top -->

    <!-- footer-bottom -->
    <div class="footer-bottom">
            <div class="footer-info">
                <div>
                    <address>서울특별시 마포구 월드컵로 240, 지상2층(성산동, 월드컵주경기장)</address>
                    <p>ARS 1544-0070</p>
                </div>
                <p>대표자명 홍정인</p>
                <p>· 개인정보보호책임자 공성진</p>
                <p>· 사업자등록번호 211-86-59478</p>
                <p>· 통신판매업신고번호 제 2020-서울마포-4545 호</p>
                <p class="copy">COPYRIGHT © MegaboxJoongAng, Inc. All rights reserved</p>
            </div>

            <div class="footer-sns">
                <a href="https://twitter.com/megaboxon" target="_blank" title="MEGABOX 트위터 페이지로 이동"><i class="iconset ico-twitter">트위터</i></a>
                <a href="https://www.facebook.com/megaboxon" target="_blank" title="MEGABOX 페이스북 페이지로 이동"><i class="iconset ico-facebook">페이스북</i></a>
                <a href="http://instagram.com/megaboxon" target="_blank" title="MEGABOX 인스타그램 페이지로 이동"><i class="iconset ico-instagram">인스타그램</i></a>
                <a href="https://play.google.com/store/apps/details?id=com.megabox.mop" target="_blank" title="MEGABOX 구글플레이 페이지로 이동"><i class="iconset ico-googleplay">구글플레이</i></a>
                <a href="https://itunes.apple.com/kr/app/megabox/id894443858?l=ko&amp;ls=1&amp;mt=8" target="_blank" title="MEGABOX 앱스토어 페이지로 이동"><i class="iconset ico-appstore">앱스토어</i></a>
            </div>
    </div>

</footer>
<!--// footer -->

</body>

</html>