<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>메가박스 테스트</title>
    <link rel="stylesheet" href="{% static 'Templates/main/pc/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'Templates/main/pc/css/info.css' %}">
	<link rel="stylesheet" href="{% static 'Templates/main/pc/css/header.css' %}">
	<link rel="stylesheet" href="{% static 'Templates/main/pc/css/footer.css' %}">
</head>
<body>
<div class="body-wrap">
<!-- 로그인 레이어팝업 삭제 -->

	<!-- 알림 삭제-->

<!-- 메인상단 광고영역 -->
<div class="header-add-area">
    <div class="cont"><a href="#" title="메인 상단 배너영역" height="80px" width="100%"  scrolling="no" frameborder="0" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0"><img src="{% static 'Templates/main/image/df1899d95327111d1fc61d925d309de5.jpg' %}" ></a></div>
	<button type="button" class="btn-del">광고영역 닫기</button>
</div>
<!--// 메인상단 광고영역 -->

<!-- header -->
<header id="header" class="main-header no-bg">
    <h1 class="ci"><a href="/" title="MEGABOX 메인으로 가기">MEGABOX : Life Theater</a></h1>

    <!-- topGnb -->
    <div class="util-area">
        <div class="left-link">
            <a href="#" title="VIP LOUNGE">VIP LOUNGE</a>
            <a href="#" title="멤버십">멤버십</a>
            <a href="#" title="고객센터">고객센터</a>
        </div>

        <div class="right-link">
            <!-- 로그인전 -->
            <div class="before" style="">
				{% if user.is_authenticated %}
				<a href="{%url 'accounts:logout'%}" title="로그아웃" class="logout">{{user.username}}(로그아웃)</a>
				{% else %}
                <a href="{%url 'accounts:login'%}" title="로그인">로그인</a>
				{% endif %}
                <a href="{%url 'accounts:signup'%}" title="회원가입">회원가입</a>
				<a href="#" title="빠른예매">빠른예매</a>
            </div>
			<!-- 로그인후 삭제했음 / 빠른예매칸이 사라져서 칸만 추가했습니다.-->
        </div>
    </div>
    <div class="link-area">
        <a href="#" class="header-open-layer btn-layer-sitemap" title="사이트맵">사이트맵</a>
        <a href="#" class="header-open-layer btn-layer-search" title="검색">검색</a>
        <a href="#" class="link-ticket" title="상영시간표">상영시간표</a>
        <a href="#" class="header-open-layer btn-layer-mymega" title="나의 메가박스">나의 메가박스</a>
    </div>
    <!-- gnb -->
    <nav id="gnb" class="">
        <ul class="gnb-depth1">
            <li class=""><a href="#" class="gnb-txt-movie" title="영화">영화</a></li>
            <li class=""><a href="#" class="gnb-txt-reserve" title="예매">예매</a></li>
            <li class=""><a href="#" class="gnb-txt-theater" title="극장">극장</a></li>
            <li class=""><a href="#" class="gnb-txt-event" title="이벤트">이벤트</a></li>
            <li><a href="#" class="gnb-txt-store" title="스토어">스토어</a></li>
            <li><a href="#" class="gnb-txt-benefit" title="혜택">혜택</a></li>
        </ul>
    </nav>
    <!--// gnb -->
    <!--// topGnb -->

	 <!-- 사이트맵/검색/상영시간표/나의 메가박스 레이어 삭제함-->

</header>
<!--// header -->

<!-- container -->
<div class="container main-container area-ad">

	<!-- contents -->
	<div id="contents">

		<!-- main-page -->
		<div class="main-page">
			<!-- section main-movie : 영화 -->
			<div id="main_section01" class="section main-movie">
				<div class="bg">
					<div class="bg-pattern"></div>
					<img src="https://img.megabox.co.kr/SharedImg/2022/02/09/7oU8TaMGZS1CRAlPgHYZzDL9EH7A9VVF_380.jpg" alt="lJLweNzzo821GWnFhVf4xJnsGIp9pwJN.jpg" onerror="noImg(this, 'main');">
					</div>

				<!-- cont-area  -->
				<div class="cont-area">

					<!-- tab-sorting -->
					<div class="tab-sorting">
						<button type="button" class="on" sort="boxoRankList" name="btnSort">박스오피스</button>
					</div>
					<!-- tab-sorting / 박스 오피스외 순위2종류 삭제했습니다.-->

					<a href="#" class="more-movie" title="더 많은 영화보기">
						더 많은 영화보기 <img src="{% static 'Templates/main/image/ico-more-cross-gray.png' %}"><i class="iconset ico-more-corss gray"></i>
					</a>

					<!-- main-movie-list -->
					<div class="main-movie-list">
						<ol class="list">
							<!-- 3개의 list를  loop 한다/중 2개의 루프 삭제 박스오피스만 남김-->
							<!-- 박스오피스 시작 -->
							<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->
							<li name="li_boxoRankList" class="first" style="display: list-item;">
								<a href="./movie-detail/1" class="movie-list-info" title="영화상세 보기">
									<div class="screen-type2">
										</div>
									<p class="rank">1<span class="ir">위</span></p>
									<!-- to 개발 : alt 값에 영화 제목 출력 -->
									<img src="https://img.megabox.co.kr/SharedImg/2022/02/09/dIDSm3PqVwCZVqWw2Clchj5tHwhuKhkK_420.jpg" alt="355" class="poster" onerror="noImg(this, 'main');">
										<div class="wrap">
										<div class="summary">
											인류를 위협하는 사상 초유의 위기 발생!<br>글로벌 범죄조직에 의해 전 세계 국가 시스템을 초토화시킬<br>일급 기밀 무기를 도난당하는 사건이 발생하고<br><br>CIA 요원 ‘메이스’(제시카 차스테인)는<br>전 세계 최정예 블랙 에이전트를 모아 TEAM ‘355’를 결성한다.<br>하나의 목표를 위해 원팀이 된 TEAM ‘355’는<br>역대급 미션을 수행하기 위한 비공식 합동작전에 돌입하는데…<br><br>월드클래스 블랙 에이전트 TEAM ‘355’<br>드디어 그들이 움직인다!<br>2022년, 모두가 기다린 초대형 액션 블록버스터가 온다!</div>
										<!--
											관람 전이 더 높을 때
											<div class="my-score small">

											관람 후가 더 높을 때
											<div class="my-score big">

											관람 후가 더 같을 때
											<div class="my-score equal">
										 -->
										<div class="score">
											<div class="preview">
												<p class="tit">관람평</p>
												<p class="number">7.7<span class="ir">점</span></p>
											</div>
										</div>
									</div>
								</a>
								<div class="btn-util">
									<button type="button" class="button btn-like" rpst-movie-no="22000800">
										<img src="{% static 'Templates/main/pc/images/common/ico/ico-heart-line.png' %}" title="보고싶어 설정 안함" class="iconset ico-heart-toggle-gray">
											286</button>
									<div class="case">
										<!-- 개봉 예매가능 기본-->
												<a href="javascript:moveBokdPage('22000800');" class="button gblue" title="영화 예매하기">예매</a>
											</div>
									</div>
							</li>
						<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->

							<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->
							<li name="li_boxoRankList" class="" style="display: list-item;">
								<a href="./movie-detail/2" class="movie-list-info" title="영화상세 보기">
									<div class="screen-type2">
										</div>
									<p class="rank">2<span class="ir">위</span></p>
									<!-- to 개발 : alt 값에 영화 제목 출력 -->
									<img src="https://img.megabox.co.kr/SharedImg/2022/01/25/Hfo5xEAlOj5YKDHIr4waqxnMykg7a0mL_420.jpg" alt="나의 촛불" class="poster" onerror="noImg(this, 'main');">
										<div class="wrap" style="display: none; opacity: 1;">
										<div class="summary">
											2016년 전세계가 주목한 그 시작의 날<br>진보와 보수를 넘나드는 정치인들이 그날의 비화를 증언한다!<br><br>부정부패와 국정농단으로 국민들을 우롱했던 날들.<br>대한민국의 1,600만명이 한 목소리로 세상을 바꿨던 그때를 기억합니다.<br><br>전세계가 주목한 가장 위대했던 그때의 뒷 이야기들을<br>김의성, 주진우가 고영태, 김성태, 박영석, 손석희, 심상정, 유시민, 윤석열, 추미애,<br>그리고 촛불 시민들과 함께 모두 풀어냅니다.<br><br>"모두가 불가능 할 것이라 했던 변화를 이끈 건 광화문에서 밝힌 국민들의 촛불이었다"<br><br>촛불혁명 후 5년.<br>차가워진 당신의 심장을 다시 뛰게 할 영화, 아직 꺼지지 않은 &lt;나의 촛불&gt;</div>
										<!--
											관람 전이 더 높을 때
											<div class="my-score small">

											관람 후가 더 높을 때
											<div class="my-score big">

											관람 후가 더 같을 때
											<div class="my-score equal">
										 -->
										<div class="score">
											<div class="preview">
												<p class="tit">관람평</p>
												<p class="number">9.5<span class="ir">점</span></p>
											</div>
										</div>
									</div>
								</a>
								<div class="btn-util">
									<button type="button" class="button btn-like" rpst-movie-no="20005300">
										<img src="{% static 'Templates/main/pc/images/common/ico/ico-heart-line.png' %}" title="보고싶어 설정 안함" class="iconset ico-heart-toggle-gray">
											309</button>
									<div class="case">
										<!-- 개봉 예매가능 기본-->
												<a href="javascript:moveBokdPage('20005300');" class="button gblue" title="영화 예매하기">예매</a>
											</div>
									</div>
							</li>
						<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->

							<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->
							<li name="li_boxoRankList" class="" style="display: list-item;">
								<a href="./movie-detail/3" class="movie-list-info" title="영화상세 보기">
									<div class="screen-type2">
										<p><img src="{% static 'Templates/main/pc/images/common/btn/mov_top_tag_db.png' %}" alt="dolby"></p>
										<p><img src="{% static 'Templates/main/pc/images/common/btn/mov_top_tag_mx.png' %}" alt="mx"></p>
										</div>
									<p class="rank">3<span class="ir">위</span></p>
									<!-- to 개발 : alt 값에 영화 제목 출력 -->
									<img src="https://img.megabox.co.kr/SharedImg/2022/02/09/xe55Jjbh8bYmhLLO3jmuuEVmINYnFhOH_420.jpg" alt="나일 강의 죽음" class="poster" onerror="noImg(this, 'main');">
										<div class="wrap" style="display: none; opacity: 1;">
										<div class="summary">
											&lt;오리엔트 특급 살인&gt;을 이을 또 하나의 완벽한 살인 사건<br>살인은 시작에 불과했다!<br><br>행복한 신혼부부를 태운 나일 강의 초호화 여객선<br>그곳에서 끔찍한 살인 사건이 벌어진다.<br><br>위태롭고 불길한 분위기의 선상에서 탑승객들을 심문하는 탐정 ‘에르큘 포와로’<br>모두가 범인으로 의심되는 가운데,<br>연이어 발생한 살인 사건은 그의 영혼을 송두리째 뒤흔들고,<br>관객은 마지막 순간까지 예기치 못한 반전으로 놀라운 결말에 이르게 된다.</div>
										<!--
											관람 전이 더 높을 때
											<div class="my-score small">

											관람 후가 더 높을 때
											<div class="my-score big">

											관람 후가 더 같을 때
											<div class="my-score equal">
										 -->
										<div class="score">
											<div class="preview">
												<p class="tit">관람평</p>
												<p class="number">8<span class="ir">점</span></p>
											</div>
										</div>
									</div>
								</a>
								<div class="btn-util">
									<button type="button" class="button btn-like" rpst-movie-no="22000100">
										<img src="{% static 'Templates/main/pc/images/common/ico/ico-heart-line.png' %}" title="보고싶어 설정 안함" class="iconset ico-heart-toggle-gray">
											626</button>
									<div class="case">
										<!-- 개봉 예매가능 기본-->
												<a href="javascript:moveBokdPage('22000100');" class="button gblue" title="영화 예매하기">예매</a>
											</div>
									</div>
							</li>
						<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->

							<!-- 각 map 별 첫번째 li 에 first클래스 추가 -->
							<li name="li_boxoRankList" class="" style="display: list-item;">
								<a href="./movie-detail/4" class="movie-list-info" title="영화상세 보기">
									<div class="screen-type2">
										<p><img src="{% static 'Templates/main/pc/images/common/btn/mov_top_tag_mx.png' %}"></p>
										</div>
									<p class="rank">4<span class="ir">위</span></p>
									<!-- to 개발 : alt 값에 영화 제목 출력 -->
									<img src="https://img.megabox.co.kr/SharedImg/2022/01/27/Dd8siKAbksXtPZ2xl6JTawCxstOqBWzK_420.jpg" alt="킹메이커" class="poster" onerror="noImg(this, 'main');">
										<div class="wrap" style="display: none; opacity: 1;">
										<div class="summary">
											세상 바뀌는 꼴 좀 보고 싶습니다<br><br>세상을 바꾸기 위해 도전하는 정치인 ‘김운범’ 앞에<br>그와 뜻을 함께하고자 선거 전략가 ‘서창대’가 찾아온다.<br><br>열세인 상황 속에서 서창대는 아무도 상상하지 못한 선거 전략을 펼치고<br>‘김운범’은 선거에 연이어 승리하며, 당을 대표하는 대통령 후보까지 올라서게 된다.<br><br>대통령 선거를 향한 본격적인 행보가 시작되고 그들은 당선을 위해 총력을 기울인다. <br><br>그러던 중 ‘김운범’ 자택에 폭발물이 터지는 사건이 발생하고<br>용의자로 ‘서창대’가 지목되면서 둘의 관계는 새로운 국면을 맞이하게 되는데...<br><br>치열한 선거판,<br>그 중심에 있던 두 남자의 이야기가 시작된다!</div>
										<!--
											관람 전이 더 높을 때
											<div class="my-score small">

											관람 후가 더 높을 때
											<div class="my-score big">

											관람 후가 더 같을 때
											<div class="my-score equal">
										 -->
										<div class="score">
											<div class="preview">
												<p class="tit">관람평</p>
												<p class="number">8.7<span class="ir">점</span></p>
											</div>
										</div>
									</div>
								</a>
								<div class="btn-util">
									<button type="button" class="button btn-like" rpst-movie-no="21079900">
										<img src="{% static 'Templates/main/pc/images/common/ico/ico-heart-line.png' %}" title="보고싶어 설정 안함" class="iconset ico-heart-toggle-gray">
											765</button>
									<div class="case">
										<!-- 개봉 예매가능 기본-->
												<a href="javascript:moveBokdPage('21079900');" class="button gblue" title="영화 예매하기">예매</a>
											</div>
									</div>
							</li>
						<!-- 박스오피스 종료 -->
						</ol>
					</div>
					<!--// main-movie-list -->
					<div class="search-link" >
						<div class="cell">
							<div class="search">
								<input type="text" placeholder="영화명을 입력해 주세요"  title="영화 검색" class="input-text" id="movieName">
								<button type="button" class="btn" id="btnSearch"><img src="{% static 'Templates/main/image/ico-footer-search.png' %}"><i class="iconset ico-search-w"></i> 검색</button>
							</div>
						</div>
						<div class="cell"><a href="#" title="상영시간표 보기"><img src="{% static 'Templates/main/image/ico-schedule-main.png' %}" class="iconset ico-schedule-main"> 상영시간표</a></div>
						<div class="cell"><a href="#" title="박스오피스 보기"><img src="{% static 'Templates/main/image/ico-boxoffice-main.png' %}" class="iconset ico-boxoffice-main"> 박스오피스</a></div>
						<div class="cell"><a href="#" title="빠른예매 보기"><img src="{% static 'Templates/main/image/ico-quick-reserve-main.png' %}" class="iconset ico-quick-reserve-main"> 빠른예매</a></div>
					</div>
				</div>
				<!--// cont-area  -->
			</div>
			<!--// section main-movie : 영화 -->

			<!-- section main-benefit : 혜택 -->
			<div id="main_section02" class="section main-benefit">
				<!-- wrap -->
				<div class="wrap">
					<!-- 혜택 시작 -->
					<div class="tit-util">
							<h2 class="tit">혜택</h2>
							<a href="#" class="btn-more-cross purple" title="혜택 더보기">더보기</a>
						</div>
						<!--
							왼쪽 글씨 이미지 사이즈 300 * 230, 오른쪽 이미지 635 * 325
						 -->
						<div class="slider main-condition">
							<div class="slider-view" style="width: 1100px;">
								<div class="cell" style="display: block; position: absolute; float: none;">
									<div class="position">
										<div class="txt" style="top: 0px; opacity: 1;"><a href="#" target="_self" title=""><img src="{% static 'Templates/main/image/ACIMTa9EQ7S102natvfySMooYS2kUsqG.jpg' %}" ></a></div>
										<div class="bg" style="left: 300px; opacity: 1;"><a href="#" target="_self" title=""><img src="{% static 'Templates/main/image/srTYm5jGSk0U3xopKDwLyrssNWId2Bva.jpg' %}" ></a></div>
									</div>
								</div>
							</div>
							<div class="slider-control">

								<div class="page"><span class="on" style="width:20%"></span><span class="" style="width:20%"></span><span class="" style="width:20%"></span><span class="" style="width:20%"></span><span class="" style="width:20%"></span></div>

									<div class="util">
										<button type="button" class="btn-prev" style="opacity: 0.5;" disabled="true">이전 이벤트 보기</button>
										<button type="button" class="btn-next" style="opacity: 1;">다음 이벤트 보기</button>

										<button type="button" class="btn-pause on">일시정지</button>
										<button type="button" class="btn-play">자동재생</button>
									</div>

								<div class="page-count">1 / 5</div>

							</div>
						</div>


						<div class="brn-ad" style="height:204px;">
							<div class="banner">
								<div class="size">
											<a href="#"  class="eventBtn" title="">
												<img src="{% static 'Templates/main/image/sunjJib5Q11SzOlLS348YLwmlN4OjNcD.jpg' %}" alt="2022년 VIP 선정 기준 안내" >
												</a>
										</div>
										<div class="size small">
											<a href="#"  class="eventBtn" title="">
												<img src="{% static 'Templates/main/image/ACdDJx36kS3ytWbf8JuflttgFwbvJ0Mt.jpg' %}" alt="신규&휴면회원 할인 혜택 안내" >
												</a>
										</div>
									</div>
							<!-- 광고영역 -->
							<div class="ad-img">
								<div><a href="#" class="ad-big" title="메인 혜택 우측배너영역" height="530px" width="415px" scrolling="no" frameborder="0" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0"><img src="{% static 'Templates/main/image/438cd9e7f4c9f82667bc787e14e37bf0.jpg' %}" alt="신규&휴면회원 할인 혜택 안내" ></a></div>
							</div>
							<!-- 광고영역 -->
						</div>
					<!-- 혜택 종료 -->

					<div class="menu-link">
						<div class="cell vip"><a href="#" title="VIP LOUNGE 페이지로 이동">VIP LOUNGE</a></div>
						<div class="cell membership"><a href="#" title="멤버십 페이지로 이동">멤버십</a></div>
						<div class="cell card"><a href="#" title="할인카드안내 페이지로 이동">할인카드안내</a></div>
						<div class="cell event"><a href="#" title="이벤트 페이지로 이동">이벤트</a></div>
						<div class="cell store"><a href="#" title="스토어 페이지로 이동">스토어</a></div>
					</div>

					<!-- grand-open -->
					<!--// grand-open -->
				</div>
				<!--// wrap -->
			</div>
			<!--// section main-benefit : 혜택 -->

			<!-- section main-curation : 큐레이션 -->
			<div id="main_section03" class="section main-curation">
				<!-- wrap -->
				<div class="wrap">
					<div class="tit-util">
						<h2 class="tit">큐레이션</h2>

						<div class="right">
							<a href="#" title="큐레이션 더보기">
								큐레이션 더보기 <i class="iconset ico-more-corss gray"></i>
							</a>
						</div>
					</div>

					<!-- curation-area -->
					<div class="curation-area">
						<!-- curr-img -->
								<div class="curr-img">
									<p class="bage classic">메가박스 클래식소사이어티</p>
										<div class="img">
										<a href="javascript:gfn_moveDetail('21076300');" title="영화상세 보기">
											<img src="{% static 'Templates/main/image/sP3sRFc4R01sROKa00eLG24irxKTfjFS_420.jpg' %}" alt="[볼쇼이 발레 인 시네마] 주얼스" ">
											</a>
									</div>

									<div class="btn-group justify">
										<div class="left">
											<a href="javascript:gfn_moveDetail('21076300');" class="button" title="영화상세 보기">상세정보</a>
										</div>
										<div class="right">
											<a href="javascript:moveBokdPage('21076300');" class="button gblue" title="영화 예매하기">예매</a>
												</div>
									</div>

									<div class="info classic">
										<p class="txt">#<span>클래식소사이어티</span></p>
											<p class="tit">[볼쇼이 발레 인 시네마] 주얼스</p>
										<p class="summary">
											[상영정보]<br>-  상영일 : 2022년 2월 26일&amp;28일<br>-  러닝타임 : 149분 (인터미션 있음)<br>-  감독 : 이사벨 줄리안 (Isabelle Julien)<br>-  음악 : 포레 / 스트라빈스키 / 차이콥스키<br>-  안무 : 조지 발란신 ©The George Balanchine Trust<br><br>[시놉시스]<br>파리의 우아함과 세련미를 표현한 ‘에메랄드’<br>뉴욕의 빠르고 현대적인 문화를 상징하는 ‘루비’<br>러시아 상트페테르부르크의 클래식 발레를 표현한 ‘다이아몬드’<br>세 명의 작곡가 거장들의 음악이 곁들어진 에메랄드, 루비, 다이아몬드 세 가지 반짝이는 보석을 각기 다른 음악과 분위기, 의상, 춤으로 표현한 3막으로 이뤄진 발레계의 블록버스터 &lt;주얼스&gt;는 현대 발레의 거장 조지 발란신을 발레의 전설로 만드는 데 기여한 세 무용학교의 스타일을 특징적으로 보여준다.<br><br>[작품 정보]<br>삼색 조합으로 이루어진 이 매력적인 작품은 맨하탄 5번가에 위치한 반클리프 아펠 부티크를 방문한 전설적인 안무가 조지 발란신의 방문에서 영감을 받았다. 존경받는 발레 안무가 발란신의 커리어에 중대한 영향을 끼친 파리, 뉴욕, 러시아의 베네치아로 불리는 상트페테르부르크 도시와 댄스 스쿨에 경의를 표하기 위해 만들어졌다.<br><br>수입/배급 : (주)위즈온센</p>
									</div>
								</div>
								<!--// curr-img -->

								<!--// list-area -->
								<div class="list">
							 	<ul>
									<li>
										<a href="javascript:gfn_moveDetail('21084000');" title="영화상세 보기">
										<p class="bage film">필름소사이어티</p>
											<div class="img"><img src="{% static 'Templates/main/image/rH0ktL4oe1AZJgg4sRsLmI6Bp9uBT5Qe_230.jpg' %}" alt="어나더 라운드" ></div>

											<p class="tit">어나더 라운드</p>

											<p class="summary">
												각각 역사, 체육, 음악, 심리학을 가르치는 같은 고등학교 교사 니콜라이, 마르틴, 페테르, 톰뮈는 의욕 없는 학생들을 상대하며 열정마저 사라지고 매일이 우울하기만 하다. 니콜라이의 40번째 생일 축하 자리에서 “인간에게 결핍된 혈중 알코올 농도 0.05%를 유지하면 적당히 창의적이고 활발해진다”는 흥미로운 가설에 대한 이야기를 나누고, 마르틴이 실험에 들어간다. 인기 없던 수업에 웃음이 넘치고 가족들과의 관계에도 활기가 생긴 마르틴의 후일담에 친구들 모두 동참하면서 두 가지 조건을 정한다.

[언제나 최소 0.05%의 혈중 알코올 농도 유지할 것! 밤 8시 이후엔 술에 손대지 않을 것!]

지루한 교사, 매력 없는 남편, 따분한 아빠, 최적의 직업적, 사회적 성과를 위해 점차 알코올 농도를 올리며 실험은 계속되는데… 과연 술은 인간을 더 나은 상태로 만들 수 있을지, 도전의 결말은?!</p>
										</a>
									</li>
									<li>
										<a href="javascript:gfn_moveDetail('22003800');" title="영화상세 보기">
										<p class="bage classic">클래식소사이어티</p>
											<div class="img"><img src="{% static 'Templates/main/image/OJhjCfHZdlLo5NFJ09RWpGVxUdEshojT_230.jpg' %}" alt="[오페라] 파이어 셧 업 인 마이 본즈 @The Met"></div>

											<p class="tit">[오페라] 파이어 셧 업 인 마이 본즈 @The Met</p>

											<p class="summary">
												그래미상에 빛나는 흑인 재즈 뮤지션이 작곡한 감동의 역작.
트라우마로 점철된 한 젊은이의 심오한 인생역정!

[상영 정보]
상영지점 : 센트럴 / 코엑스 / 목동 / 성수 / 분당 / 킨텍스
상영일정 : 2022년 2월 1일(화) ~ 2월 26일(토) / 화 19:00, 토 10:00
러닝타임 : 195분 *인터미션 없음

[공연정보]
제작년도 : 2021년 10월 23일
작곡 : 테렌스 블랜처드 (Terence Blanchard)
지휘 : 야니크 네제 세갱 (Yannick Nézet-Séguin)
연출 : 제임스 로빈슨 &amp; 카미유 A. 브라운 (James Robinson and Camille A. Brown)
출연 : 엔젤 블루(운명/고독/그레타), 라토니아 무어(빌리), 윌 리버맨(찰스) 등
Angel Blue (Destiny/Loneliness/Greta), Latonia Moore (Billie), Will Liverman (Charles)


[시놉시스]
메트 음악감독 야니크 네제 세갱은 찰스 M. 블로우의 감동적인 회고록을 바탕으로 작곡가이자 그래미상 수상 재즈 뮤지션인 테렌스 블랜처드가 작곡한 오페라를 지휘한다. 영화감독 케이시 레몬스의 대본을 바탕으로 메트 역사상 최초로 무대에 오르는 이 흑인 작곡가의 오페라는 트라우마와 역경으로 점철된 한 젊은이의 통렬하고 심오한 인생역정 이야기를 담고 있다. 최근 거슈윈의 &lt;포기와 베스&gt;를 공동으로 연출한 바 있는 제임스 로빈슨과 카밀 A. 브라운이 메트에서도 함께 연출을 담당한다. 바리톤 윌 리버만이 찰스로 등장하고 소프라노 엔젤 블루가 운명/고독/그레타 역을, 소프라노 라토니아 무어가 빌리 역을 맡는다.
</p>
										</a>
									</li>
									<li>
										<a href="javascript:gfn_moveDetail('21084300');" title="영화상세 보기">
										<p class="bage film">필름소사이어티</p>
											<div class="img"><img src="{% static 'Templates/main/image/fowb9Ay3B0ZZIzg9v3udcuzYBFw8wwCy_230.jpg' %}" alt="드라이브 마이 카" ></div>

											<p class="tit">드라이브 마이 카</p>

											<p class="summary">
												누가 봐도 아름다운 부부 가후쿠와 오토.
우연히 아내의 외도를 목격한 가후쿠는 이유를 묻지 못한 채
갑작스럽게 아내의 죽음을 맞이하게 된다.
2년 후 히로시마의 연극제에 초청되어 작품의 연출을 하게 된 가후쿠.
그는 그곳에서 자신의 전속 드라이버 미사키를 만나게 된다.
말없이 묵묵히 가후쿠의 차를 운전하는 미사키와
오래된 습관인 아내가 녹음한 테이프를 들으며 대사를 연습하는 가후쿠.
조용한 차 안에서 두 사람은 점점 마음을 열게 되고,
서로가 과거의 아픔에서 벗어나지 못한 것을 알게 된다.
그리고 눈 덮인 홋카이도에서 내면에 깊숙이 자리 잡은 서로의 슬픔을 들여다보게 되는데….</p>
										</a>
									</li>
									<li>
										<a href="javascript:gfn_moveDetail('22001000');" title="영화상세 보기">
										<p class="bage film">필름소사이어티</p>
											<div class="img"><img src="{% static 'Templates/main/image/o0hsTOFgA8YprfhLM54RqNuohYD1eMvM_230.jpg' %}" alt="더 마더"></div>

											<p class="tit">더 마더</p>

											<p class="summary">
												말보다 강한 몸짓으로 자아내는 긴장의 103분

한때 발레단의 프리마돈나였던 여자가 약물에 중독된 채 홀로 아이를 출산한다.
아이는커녕 제 몸 하나 돌볼 능력이 없던 그녀는 브로커에게 아이를 팔아버린다.
하지만 아이를 데려간 사람들이 유아 인신매매단이라는 충격적인 사실을 뒤늦게 알게 된다.

브로커를 처음 만났던 외딴 숲을 다시 찾아간 그녀.
낭만과 야만이 뒤섞인 듯, 기묘한 분위기를 풍기는 대저택에 이끌려 들어간다.
뜻 모를 붉은 표시들로 덧칠된 달력을 살펴보던 그녀는
정체 모를 여인들의 감시를 받고 있는 자신의 아기를 발견하게 되는데...

아무도 예상하지 못했던 결말이 기다리는 그곳에서
아이를 되찾아야만 하는 그녀의 필사적인 몸부림이 시작된다!</p>
										</a>
									</li>
									</ul>

								</div>
								<!--// list-area -->

					</div>
					<!--// curation-area -->
				</div>
			</div>
			<!--// section main-curation : 큐레이션 -->

			<!-- section main-info : 메가박스 안내 -->
			<div id="main_section04" class="section main-info">

				<h2 class="tit">메가박스 안내</h2>

				<div class="info-special">
					<a href="#" title="Dolby Cinema 페이지로 이동" class="bg-dolby">Dolby Cinema</a>
							<a href="#" title="THE BOUTIQUE PRIVATE 페이지로 이동" class="bg-private">THE BOUTIQUE PRIVATE</a>
							<a href="#" title="THE BOUTIQUE 페이지로 이동" class="bg-boutique">THE BOUTIQUE</a>
							<a href="#" title="MX 페이지로 이동" class="bg-mx">MX</a>
							<a href="#" title="COMFORT 페이지로 이동" class="bg-comfort">COMFORT</a>
							<a href="#" title="MEGABOX KIDS 페이지로 이동" class="bg-kids">MEGABOX KIDS</a>
							</div>

				<!-- info-notice -->
				<div class="info-notice">
						<div class="wrap">
							<p class="tit">메가박스</p>
							<p class="link">
								<a href="#" title="공지사항 상세보기">
									<strong>
										[공지]
									</strong>
									 [공지] 네이버페이 시스템 점검 안내 (2/12)</a>
							</p>

							<p class="date">2022.02.10</p>

							<p class="more">
								<a href="#" title="전체공지 더보기">더보기 <i class="iconset ico-arr-right-gray"></i></a>
							</p>
						</div>
					</div>
				<!--// info-notice -->

				<!-- info-link -->
				<div class="info-link">
					<div class="table">
						<div class="cell">
							<a href="#" title="고객센터 페이지로 이동">
								<i class="iconset ico-main-customer"></i>
								<span>고객센터</span>
							</a>
						</div>

						<div class="cell">
							<a href="#" title="자주 묻는 질문 페이지로 이동">
								<i class="iconset ico-main-faq"></i>
								<span>자주 묻는 질문</span>
							</a>
						</div>

						<div class="cell">
							<a href="#" title="1:1 문의 페이지로 이동">
								<i class="iconset ico-main-qna"></i>
								<span>1:1 문의</span>
							</a>
						</div>

						<div class="cell">
							<a href="#" title="단체/대관문의 페이지로 이동">
								<i class="iconset ico-main-group"></i>
								<span>단체/대관문의</span>
							</a>
						</div>

						<div class="cell">
							<a href="#" title="분실물 문의/접수 페이지로 이동">
								<i class="iconset ico-main-lost"></i>
								<span>분실물 문의/접수</span>
							</a>
						</div>

						<div class="cell">
							<a href="#" title="더 부티크 프라이빗 대관예매 페이지로 이동">
								<i class="iconset ico-main-boutique"></i>
								<span>더 부티크 프라이빗<br>대관예매</span>
							</a>
						</div>
					</div>
				</div>
				<!--// info-link -->
			</div>
			<!--// section main-info : 메가박스 안내 -->

			<!-- main-bottom-ad : 메인 하단 광고 영역 -->
			<div class="main-bottom-ad">
				<div><a href="#" class="ad-bottom" title="메인 하단 배너영역" height="227px" width="100%"  scrolling="no" frameborder="0" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0"><img src="{% static 'Templates/main/image/f04771c91b2dbc8d38371707378d4554.jpg' %}"  ></a></div>
			</div>
			<!--// main-bottom-ad : 메인 하단 광고 영역 -->
		</div>
	</div>
	<!--// contents -->

</div>
<!--// container -->

<!-- footer -->
<footer id="footer">
    <!-- footer-top -->
    <div class="footer-top">
        <div class="inner-wrap">
            <ul class="fnb">
                <li><a href="#" title="회사소개 페이지로 이동">회사소개</a></li>
                <li><a href="#" title="인재채용 페이지로 이동">인재채용</a></li>
                <li><a href="#" title="사회공헌 페이지로 이동">사회공헌</a></li>
                <li><a href="#" title="제휴/광고/부대사업문의 페이지로 이동">제휴/광고/부대사업문의</a></li>
                <li><a href="#" title="이용약관 페이지로 이동">이용약관</a></li>
                <li><a href="#" title="위치기반서비스 이용약관 페이지로 이동">위치기반서비스 이용약관</a></li>
                <li class="privacy"><a href="#" title="개인정보처리방침 페이지로 이동">개인정보처리방침</a></li>
                <li><a href="#" target="_blank" title="윤리경영 페이지로 이동">윤리경영</a></li>
            </ul>

            <a href="#layer_looking_theater" class="btn-looking-theater" title="극장찾기"><i class="iconset ico-footer-search"></i> 극장찾기</a>
        </div>
    </div>
    <!--// footer-top -->

    <!-- footer-bottom -->
    <div class="footer-bottom">
        <div class="inner-wrap">
            <div class="ci">MEGABOX : Life Theater</div>

            <div class="footer-info">
                <div>
                    <address>서울특별시 마포구 월드컵로 240, 지상2층(성산동, 월드컵주경기장)</address>
                    <p>ARS 1544-0070</p>
                </div>
                <p>대표자명 홍정인</p>
                <p>· 개인정보보호책임자 공성진</p>
                <p>· 사업자등록번호 211-86-59478</p>
                <p>· 통신판매업신고번호 제 2020-서울마포-4545 호</p>
                <p class="copy">COPYRIGHT © MegaboxJoongAng, Inc. All rights reserved</p>
            </div>

            <div class="footer-sns">
                <a href="https://twitter.com/megaboxon" target="_blank" title="MEGABOX 트위터 페이지로 이동"><i class="iconset ico-twitter">트위터</i></a>
                <a href="https://www.facebook.com/megaboxon" target="_blank" title="MEGABOX 페이스북 페이지로 이동"><i class="iconset ico-facebook">페이스북</i></a>
                <a href="http://instagram.com/megaboxon" target="_blank" title="MEGABOX 인스타그램 페이지로 이동"><i class="iconset ico-instagram">인스타그램</i></a>
                <a href="https://play.google.com/store/apps/details?id=com.megabox.mop" target="_blank" title="MEGABOX 구글플레이 페이지로 이동"><i class="iconset ico-googleplay">구글플레이</i></a>
                <a href="https://itunes.apple.com/kr/app/megabox/id894443858?l=ko&amp;ls=1&amp;mt=8" target="_blank" title="MEGABOX 앱스토어 페이지로 이동"><i class="iconset ico-appstore">앱스토어</i></a>
            </div>
        </div>
    </div>
    <!--// footer-bottom -->
    <div id="layer_looking_theater" class="layer-looking-theater"></div>
</footer>
<!--// footer -->

</div>
</body>
</html>