<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<link rel="shortcut icon" href="/static/pc/images/favicon.ico">
	<title>(나의 촛불) 주요정보 &lt; 영화 | MEET PLAY SHARE, 메가박스</title>

    <link rel="stylesheet" href="{% static 'Templates/main/pc/css/info.css' %}">
	<link rel="stylesheet" href="{% static 'Templates/main/pc/css/header.css' %}">
	<link rel="stylesheet" href="{% static 'Templates/main/pc/css/footer.css' %}">
    <style type="text/css">

        /* Chart.js */
        /*
         * DOM element rendering detection
         * https://davidwalsh.name/detect-node-insertion
         */
        @keyframes chartjs-render-animation {
            from { opacity: 0.99; }
            to { opacity: 1; }
        }

        .chartjs-render-monitor {
            animation: chartjs-render-animation 0.001s;
        }

        /*
         * DOM element resizing detection
         * https://github.com/marcj/css-element-queries
         */
        .chartjs-size-monitor,
        .chartjs-size-monitor-expand,
        .chartjs-size-monitor-shrink {
            position: absolute;
            direction: ltr;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            pointer-events: none;
            visibility: hidden;
            z-index: -1;
        }

        .chartjs-size-monitor-expand > div {
            position: absolute;
            width: 1000000px;
            height: 1000000px;
            left: 0;
            top: 0;
        }

        .chartjs-size-monitor-shrink > div {
            position: absolute;
            width: 200%;
            height: 200%;
            left: 0;
            top: 0;
        }

    </style>
</head>
<body>
    <!-- header -->
    <header id="header" class="main-header no-bg">
        <h1 class="ci"><a href="/" title="MEGABOX 메인으로 가기">MEGABOX : Life Theater</a></h1>


        <!-- topGnb -->
        <div class="util-area">
            <div class="left-link">
                <a href="#" title="VIP LOUNGE">VIP LOUNGE</a>
                <a href="#" title="멤버십">멤버십</a>
                <a href="#" title="고객센터">고객센터</a>
            </div>

            <div class="right-link">
                <!-- 로그인전 -->
                <div class="before" style="">
                    <a href="#" title="로그인">로그인</a>
                    <a href="#" title="회원가입">회원가입</a>
                    <a href="#" title="빠른예매">빠른예매</a>
                </div>
                <!-- 로그인후 삭제했음 / 빠른예매칸이 사라져서 칸만 추가했습니다.-->
            </div>
        </div>
        <div class="link-area">
            <a href="#" class="header-open-layer btn-layer-sitemap" title="사이트맵">사이트맵</a>
            <a href="#" class="header-open-layer btn-layer-search" title="검색">검색</a>
            <a href="#" class="link-ticket" title="상영시간표">상영시간표</a>
            <a href="#" class="header-open-layer btn-layer-mymega" title="나의 메가박스">나의 메가박스</a>
        </div>
        <!-- gnb -->
        <nav id="gnb" class="">
            <ul class="gnb-depth1">
                <li class=""><a href="#" class="gnb-txt-movie" title="영화">영화</a></li>
                <li class=""><a href="#" class="gnb-txt-reserve" title="예매">예매</a></li>
                <li class=""><a href="#" class="gnb-txt-theater" title="극장">극장</a></li>
                <li class=""><a href="#" class="gnb-txt-event" title="이벤트">이벤트</a></li>
                <li><a href="#" class="gnb-txt-store" title="스토어">스토어</a></li>
                <li><a href="#" class="gnb-txt-benefit" title="혜택">혜택</a></li>
            </ul>
        </nav>
        <!--// gnb -->
        <!--// topGnb -->

         <!-- 사이트맵/검색/상영시간표/나의 메가박스 레이어 삭제함-->

    </header>
    <!--// header -->

    <!-- container -->
    <div id="schdlContainer" class="container area-ad no-padding-bottom">
        <div class="page-util off">
            <div class="inner-wrap">
                <div class="location">
                    <span>Home</span>
                    <a href="/movie" title="영화 페이지로 이동">영화</a>
                    <a href="/movie" title="전체영화 페이지로 이동">전체영화</a>
                    <a href="/movie" title="박스오피스 페이지로 이동">박스오피스</a>
                </div>
            </div>
        </div>

        <!-- contents -->
        <div id="contents" class="no-padding">

            <div class="movie-detail-page"> <!-- 영화 상세정보 페이지 포스터 안에 보이는 정보 부분 -->
                <!-- <div class="bg-img" style="background-image:url('https://img.megabox.co.kr/SharedImg/2022/01/17/D8QqlBy4ENVlO68dp1QdgzZ8uhlc3r3Q_570.jpg');"></div> -->
                <div class="bg-img" style="background-image:url({% static 'Templates/main/pc/images/movie/D8QqlBy4ENVlO68dp1QdgzZ8uhlc3r3Q_570.jpg'%});"></div>
                <!-- DB로 영화의 정보란의 백그라운드 이미지 불러와서 적용-->
                <div class="bg-pattern"></div>
                <div class="bg-mask"></div>

                <!-- movie-detail-cont -->
                <div class="movie-detail-cont">
                    <!-- 개봉 예매가능-->
                    <p class="contents-type">{{movie.movie_type}}</p>  <!-- DB 콘텐츠 타입 불러오기-->
                    <p class="title">{{movie.movie_title}}</p>  <!-- DB 영화 제목 불러오기-->
                    <p class="title-eng">{{movie.movie_title_eng}}</p>  <!-- DB 영화제목 영어버전 불러오기-->

                    <div class="btn-util">
                        <button type="button" title="보고싶어 안함" class="btn btn-like" rpst-movie-no="20005300"><!-- 좋아요 누르는 버튼 -->
                            <i class="iconset ico-heart-line"></i>
                            <span title="보고싶어 한 명수" id="intrstCnt">  <!-- DB 좋아요 누른 수 불러오기- 버튼으로 누르는 수를 실시간으로 카운트 적용 가능?-->
                                {{movie.movie_like}}
                            </span>
                        </button>

                        <div class="sns-share">
                            <a href="#" class="btn btn-common-share" title="공유하기">
                                <i class="iconset ico-sns-line"></i> 공유하기 <!-- 공유하기 버튼 -->
                            </a>

                            <div class="btn-sns-share-wrap">
                                <div class="cont-area">
                                    <div class="btn-sns-share-group"><!-- 공유하기 누르면 나오는 버튼 -->
                                        <button type="button" title="페이스북 공유하기" class="btn btnSns face">페이스북 <!-- 페이스북 --></button>
                                        <button type="button" title="밴드 공유하기" class="btn btnSns band">밴드 <!-- 밴드 --></button>
                                        <button type="button" title="트위터 공유하기" class="btn btnSns twitter">트위터 <!-- 트위터 --></button>
                                        <button type="button" title="링크 공유하기" class="btn btnSns link">링크공유 <!-- 링크공유 --></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- info -->

                    <div class="info">
                        <div class="score">
                            <p class="tit">실관람 평점</p>
                            <div class="number gt" id="mainMegaScore">
                                <p title="실관람 평점" class="before"><em>{{movie.movie_score}}</em><span class="ir">점</span></p> <!-- DB 점수 불러오기-->
                            </div>
                        </div>

                        <div class="rate">
                            <p class="tit">예매율</p>
                                    <p class="cont"><em>{{movie.movie_rank}}</em>위 ({{movie.movie_rate}})</p>  <!-- DB 예매율 불러오기, (순위 예매율)-->

                        </div>

                        <div class="audience ">
                             <div class="tit ">
                                    <span class="m-tooltip-wrap ">누적관객수
                                    <em class="m-tooltip ml05">
                                        <i class="iconset ico-tooltip-gray">툴팁보기</i>  <!-- 툴팁 버튼 누르면 설명 나옴-->
                                        <div class="m-detail-tooltip">
                                            <div class="bg-arr bottom"></div>
                                            <div class="cont-area">
                                                <p class="reset a-c">
                                                    누적관객 및 전일관객은 영화진흥 위원회<br>
                                                    영화관 입장권 통합전산망제공 기준입니다.<br>
                                                (2022.02.06기준)
                                                </p>
                                            </div>
                                        </div>
                                    </em>
                                    </span>
                              </div>
                              <p class="cont"><em>{{movie.movie_audience}}</em> 명</p> <!-- DB 누적 관객수 불러오기-->
                        </div>

                    </div>
                    <!--// info -->

                    <div class="poster">
                        <div class="wrap">
                                <p class="movie-grade age-all">{{movie.movie_age}}</p> <!-- DB 연령 제한 정보 불러오기-->

                            <img src="{% static 'Templates/main/pc/images/movie/Hfo5xEAlOj5YKDHIr4waqxnMykg7a0mL_420.jpg'%}" onerror="noImg(this)" alt="나의 촛불"><!-- DB 포스터 이미지 불러오기-->

                            <a href="#" class="btn-poster-down" title="포스터 다운로드" data-no="1088172" data-sn="1">포스터 다운로드</a>
                        </div>
                    </div>

                    <div class="reserve screen-type col-1">
                        <div class="reserve">

                                    <a href="#" class="btn reserve" title="영화 예매하기">예매</a>

                        </div>
                    </div>
                </div>
                <!--// movie-detail-cont -->
            </div>
            <!--// movie-detail -->
        </div>
	    <!--// contents -->
    </div>
    <!--// container -->

    <div class="inner-wrap"> <!-- 상세정보 4개 탭으로 보이는 부분 부터 (주요정보, 실관람평, 무비포스트, 예고편) -->
        <div class="tab-list"> <!-- 탭 메뉴 -->
            <ul>
                <li class="on"><a href="/on/oh/oha/Movie/selectMovieInfo.do" title="주요정보 탭으로 이동">주요정보</a></li>
                <li><a href="/on/oh/oha/Movie/selectMovieOneDetail.do" title="실관람평 탭으로 이동">실관람평</a></li>
                <li><a href="/on/oh/oha/Movie/selectMoviePostDetailC.do" title="무비포스트 탭으로 이동">무비포스트</a></li>
                <li><a href="/on/oh/oha/Movie/selectMovieStilDetail.do" title="예고편/스틸컷 탭으로 이동">예고편/스틸컷</a></li>
            </ul>
        </div>

        <!-- 탭1 주요정보 -->
        <div class="movie-summary" id="info">  <!-- DB 줄거리 정보 불러오기-->

                <div class="txt">
                    {{movie.movie_summary|linebreaksbr}}
                </div>
                <div class="btn-more">
                    <button type="button" class="btn"><span>더보기</span> <i class="iconset ico-btn-more-arr"></i></button>  <!-- 더보기 버튼 누르면 줄거리 전체보기 -->
                </div>

        </div>

        <!-- 영화 타입, 감독, 장르 등등 정보 나열 및 그래프 4개 보이는 부분 -->
        <div class="movie-info"><!-- DB 영화 제작자 정보 불러오기-->
            <p>상영타입 : {{movie.movie_type2}}</p>

            <div class="line">
               <p>감독&nbsp;: {{movie.movie_line1}}</p>
               <p>장르&nbsp;: {{movie.movie_line2}} / {{movie.movie_line3}} 분</p>
               <p>등급&nbsp;: {{movie.movie_line4}}</p>
               <p>개봉일&nbsp;: {{movie.movie_line5}}</p>
            </div>
            <p>출연진&nbsp;: {{movie.movie_actor}}</p>
        </div>


        <!-- movie-graph -->
        <div class="movie-graph">
            <div class="col">
                <dl>
                    <dt>관람포인트</dt>
                    <dd id="charByPoint">스토리·연출</dd>
                </dl>

                <div class="graph" style="position: relative; bottom: 29px;">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class="">
                            </div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class="">
                            </div>
                        </div>
                    </div>
                    <canvas id="chartByStart" style="width: 216px; height: 216px; display: block;" width="216" height="216" class="chartjs-render-monitor"></canvas>
                    <img src="{% static 'Templates/main/pc/images/movie/no-graph01.jpg'%}" alt="기대포인트 결과 없음" style="display: none;">
                </div>
            </div>

            <div class="col" id="subMegaScore">
                <dl>
                    <dt>실관람 평점</dt>
                    <dd class="font-roboto"><em>{{movie.movie_score}}</em><span class="ir">점</span></dd>
                </dl>
                <div class="graph" style="display: none;">
                    <img src="{% static 'Templates/main/pc/images/movie/no-graph02.jpg'%}" alt="메가스코어 결과 없음">
                </div>
                <div class="score equal" style="position: relative; bottom: 29px;">
                    <div class="middle">
                        <div class="circle"><em>{{movie.movie_score}}</em><span class="ir">점</span></div>
                        <p>관람 후</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <dl>
                    <dt>예매율</dt>
                    <dd class="font-roboto">
                        <span id="rkTag">{{movie.movie_rate}}</span>
                    </dd>
                </dl>

                <div class="graph" style="position: relative; bottom: 10px; right: 10px;">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class="">
                            </div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class="">
                            </div>
                        </div>
                    </div>
                    <canvas id="chartByBar" style="display: block; width: 216px; height: 216px;" width="216" height="216" class="chartjs-render-monitor"></canvas>
                    <img src="{% static 'Templates/main/pc/images/movie/no-graph03.jpg'%}" alt="기대율 결과 없음" style="display: none;">
                </div>
            </div>

            <div class="col">
                <dl>
                    <dt>일자별관객수</dt>
                    <dd class="font-roboto regular">
                            {{movie.movie_audience}}
                    </dd>
                </dl>

                <div class="graph">
                    <canvas id="chartByLine" style="width: 220px; height: 205px; display: block;" width="220" height="205"></canvas>
                    <img src="{% static 'Templates/main/pc/images/movie/no-graph04.jpg'%}" alt="일자별 관객수 결과 없음" style="display: none;">
                </div>
            </div>
        </div>
        <!--// movie-graph -->


        <div class="btn-more" style="display: none;">
            <button type="button" class="btn"><span>닫기</span> <i class="iconset ico-btn-more-arr"></i></button> <!-- 닫기 버튼 눌러서 줄거리 안보이기 -->
        </div>
        <!-- // 탭1 주요정보 끝 -->

    </div> <!-- //inner wrap 끝 -->


    <div class="quick-area">
        <a href="" class="btn-go-top" title="top">top</a>
    </div>


    <!-- footer -->
    <footer id="footer">
        <!-- footer-top -->
        <div class="footer-top">
            <div class="inner-wrap">
                <ul class="fnb">
                    <li><a href="#" title="회사소개 페이지로 이동">회사소개</a></li>
                    <li><a href="#" title="인재채용 페이지로 이동">인재채용</a></li>
                    <li><a href="#" title="사회공헌 페이지로 이동">사회공헌</a></li>
                    <li><a href="#" title="제휴/광고/부대사업문의 페이지로 이동">제휴/광고/부대사업문의</a></li>
                    <li><a href="#" title="이용약관 페이지로 이동">이용약관</a></li>
                    <li><a href="#" title="위치기반서비스 이용약관 페이지로 이동">위치기반서비스 이용약관</a></li>
                    <li class="privacy"><a href="#" title="개인정보처리방침 페이지로 이동">개인정보처리방침</a></li>
                    <li><a href="#" target="_blank" title="윤리경영 페이지로 이동">윤리경영</a></li>
                </ul>

                <a href="#layer_looking_theater" class="btn-looking-theater" title="극장찾기"><i class="iconset ico-footer-search"></i> 극장찾기</a>
            </div>
        </div>
        <!--// footer-top -->

        <!-- footer-bottom -->
        <div class="footer-bottom">
            <div class="inner-wrap">
                <div class="ci">MEGABOX : Life Theater</div>

                <div class="footer-info">
                    <div>
                        <address>서울특별시 마포구 월드컵로 240, 지상2층(성산동, 월드컵주경기장)</address>
                        <p>ARS 1544-0070</p>
                    </div>
                    <p>대표자명 홍정인</p>
                    <p>· 개인정보보호책임자 공성진</p>
                    <p>· 사업자등록번호 211-86-59478</p>
                    <p>· 통신판매업신고번호 제 2020-서울마포-4545 호</p>
                    <p class="copy">COPYRIGHT © MegaboxJoongAng, Inc. All rights reserved</p>
                </div>

                <div class="footer-sns">
                    <a href="https://twitter.com/megaboxon" target="_blank" title="MEGABOX 트위터 페이지로 이동"><i class="iconset ico-twitter">트위터</i></a>
                    <a href="https://www.facebook.com/megaboxon" target="_blank" title="MEGABOX 페이스북 페이지로 이동"><i class="iconset ico-facebook">페이스북</i></a>
                    <a href="http://instagram.com/megaboxon" target="_blank" title="MEGABOX 인스타그램 페이지로 이동"><i class="iconset ico-instagram">인스타그램</i></a>
                    <a href="https://play.google.com/store/apps/details?id=com.megabox.mop" target="_blank" title="MEGABOX 구글플레이 페이지로 이동"><i class="iconset ico-googleplay">구글플레이</i></a>
                    <a href="https://itunes.apple.com/kr/app/megabox/id894443858?l=ko&amp;ls=1&amp;mt=8" target="_blank" title="MEGABOX 앱스토어 페이지로 이동"><i class="iconset ico-appstore">앱스토어</i></a>
                </div>
            </div>
        </div>
        <!--// footer-bottom -->
        <div id="layer_looking_theater" class="layer-looking-theater"></div>
    </footer>
    <!--// footer -->

</body>

</html>